/* You can add global styles to this file, and also import other style files */
.navbar-nav.nav li.active a {
  background: none !important;
  font-weight: bold;
  background-image: none !important;
}

